### *Importing Libraries*

In [1]:
import pandas as pd
import numpy as np

### *Load Dataset*

In [2]:
dataset = pd.read_csv('loan_data.csv')
LoanPrep = dataset.copy()

### *Summarize Dataset*

In [3]:
print(LoanPrep.dtypes)

gender      object
married     object
ch         float64
income       int64
loanamt    float64
status      object
dtype: object

In [4]:
LoanPrep.isnull().sum()

gender     13
married     3
ch         50
income      0
loanamt    22
status      0
dtype: int64

In [5]:
LoanPrep = LoanPrep.dropna()

### *Data Preprocessing*

In [6]:
LoanPrep = LoanPrep.drop(['gender'], axis=1)

In [7]:
LoanPrep.head(10)

   married   ch  income  loanamt status
1      Yes  1.0    4583    128.0      N
2      Yes  1.0    3000     66.0      Y
3      Yes  1.0    2583    120.0      Y
4       No  1.0    6000    141.0      Y
5      Yes  1.0    5417    267.0      Y
6      Yes  1.0    2333     95.0      Y
7      Yes  0.0    3036    158.0      N
8      Yes  1.0    4006    168.0      Y
9      Yes  1.0   12841    349.0      N
10     Yes  1.0    3200     70.0      Y

In [8]:
LoanPrep = pd.get_dummies(LoanPrep, drop_first=True)
LoanPrep.head(10)

     ch  income  loanamt  married_Yes  status_Y
1   1.0    4583    128.0            1         0
2   1.0    3000     66.0            1         1
3   1.0    2583    120.0            1         1
4   1.0    6000    141.0            0         1
5   1.0    5417    267.0            1         1
6   1.0    2333     95.0            1         1
7   0.0    3036    158.0            1         0
8   1.0    4006    168.0            1         1
9   1.0   12841    349.0            1         0
10  1.0    3200     70.0            1         1

### *Feature Scaling*

In [10]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()

LoanPrep['income'] = scalar.fit_transform(LoanPrep[['income']])
LoanPrep['loanamt'] = scalar.fit_transform(LoanPrep[['loanamt']])

In [11]:
LoanPrep.head(10)

     ch    income   loanamt  married_Yes  status_Y
1   1.0 -0.128073 -0.194250            1         0
2   1.0 -0.392077 -0.971015            1         1
3   1.0 -0.461621 -0.294478            1         1
4   1.0  0.108246 -0.031380            0         1
5   1.0  0.011017  1.547205            1         1
6   1.0 -0.503315 -0.607689            1         1
7   0.0 -0.386073  0.181603            1         0
8   1.0 -0.224302  0.306888            1         1
9   1.0  1.249148  2.574538            1         0
10  1.0 -0.358722 -0.920901            1         1

### *Segregate Dataset into X(Input/IndependentVariable) & Y(Output/DependentVariable)*

In [12]:
x = LoanPrep.iloc[:, :-1]
y = LoanPrep.iloc[:, -1]

### *Splitting Dataset into Train & Test*

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state = 1234)

### *Training*

In [14]:
from sklearn.svm import SVC
svc = SVC(kernel='sigmoid')
svc.fit(x_train, y_train)

SVC()

### *Prediction for all Test Data*

In [15]:
y_predict = svc.predict(x_test)

### *Evaluating Model*

In [16]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predict)
print(cm)

score = svc.score(x_test,y_test)
print(score)

[[ 26  28]
 [  1 104]]
0.8176100628930818

In [17]:
(104+26)/(104+26+28+1)

0.8176100628930818